[submodule "allsight_dataset"]
	path = allsight_dataset
	url = https://github.com/osheraz/allsight_dataset.git
[submodule "simulation/allsight_sim"]
	path = simulation/allsight_sim
	url = https://github.com/J-axe-sun/allsight-sim.git
	branch = feature_dockstrings
