*.a
*.so
*.o
*.swp
*.pyc
*.pkl
*.pickle
*.p
__pycache__/
dataset/
train/records/
train/evaluation/
train/utils/contrib/
calibration/
simulation/train_history/
venv/lib/python3.8/site-packages
allsight_dataset
**.vscode/
**/*.json